.campo-de-texto-container {
  width: 100%;
}

.campo-de-texto-container input {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #4d555a;
  padding: 15px;
  background-color: #ECECEC;
  border: 1px solid #4D555A;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  
  font-family: "Aller", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4d555a;
}

.campo-de-texto-container input:focus {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #4D555A;
}

.campo-de-texto-container input:disabled,
.campo-de-texto-container textarea:disabled,
.campo-de-texto-container select:disabled {
  background-color: #f5f7f9;
  color: #9aa0a6;          
  border: 1px solid #e0e6eb;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 1; 
}
