.section-container {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.carreiras-hero-background {
  height: 548px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/carreiras-bkg.png");
  align-items: center;
  justify-content: center;
}

.carreiras-hero-title {
  font-family: "Aller", sans-serif;
  font-weight: 400;
  font-size: 96px;
  color: #ffffff;
}

.carreiras-text {
  padding: 63px 0 68px 0;
}

.carreiras-text1 {
  margin-left: 250px;
  margin-right: 250px;
  box-sizing: border-box;
  font-family: "Aller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d555a;
  text-align: justify;
  line-height: 1.5;
}

.vagas-hero {
  padding: 0px 0 0px 0;
}

.vagas {
  margin-left: 250px;
  font-size: 32px;
  font-family: "Aller", sans-serif;
  color: #4d555a;
  font-weight: 600;
}

.vagas-lista-container {
  padding-left: 250px;
  padding-right: 250px;
  margin-top: 0px;
  margin-bottom: 80px;
}

.vagas-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.vagas-table tr {
  font-family: "Aller", sans-serif;
  font-size: 14px;
  color: #4d555a;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
}

