.section-container {
  width: 100%; 
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.conheca-hero-background {
  height: 550px; 
  margin: 0 auto;
  background-image: 
    linear-gradient(rgba(17, 17, 17, 0.5), rgba(24, 24, 24, 0.5)), 
    url('../assets/conhecatopo.png');
    flex: 1
}

.conheca-main-background {
  position: relative;
  background-image: url('../assets/conhecabkg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2;
  padding-top: 50px
}

.conheca-text{
  font-family: 'Aller', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
  padding-left: 250px;
  padding-right: 250px;
}

.conheca-lona-image {
  width: 100%;
  object-fit: cover; 
  padding-bottom: 100px;
}

.topo-text-1 {
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 350px;
  font-family: 'Aller', sans-serif;
  font-weight: 500; 
  font-size: 96px;
  color: #ffffff; 
  line-height: 1.2;
  text-align: center;
}

