.contato-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}

.contato-text1 {
  font-family: "Aller", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #4d555a;
  text-align: left;
}

.contato-text2 {
  font-family: "Aller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d555a;
  text-align: left;
}
