.sections-container {
  display: flex;
  flex-direction: column;
}

.hero-section {
  /*Primeira imagem da tela inical*/
  width: 100%;
  height: 691px;
  background-image:
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.7) 70%
    ),
    url("../assets/background1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-bg-two {
  /*Segunda imagem da tela inical*/
  width: 100%;
  height: 464px;
  background-image: url("../assets/background2.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-bg-three {
  /*terceira imagem*/
  width: 100%;
  height: 459px;
  position: relative;
  background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 90%),
    url("../assets/background3.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    margin-bottom: 40px;

}

.section-bg-four {
  /*Quarta imagem*/
  width: 100%;
  height: 459px;
  position: relative;
  background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 90%),
    url("../assets/background4.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.section-bg-five {
  width: 100%;
  height: 459px;
  position: relative;
  background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 90%),
    url("../assets/background5.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 46px;
}
.text-top {
  position: absolute;
  top: 250px;
  left: 63px;
  font-family: "Aller", sans-serif;
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
}

.text-bg2 {
  position: absolute;
  top: 750px;
  left: 268px;
  font-family: "Aller", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 32px;
  white-space: nowrap;
  line-height: 1, 4;
  z-index: 10;
}

.hero-button {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Aller", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  width: 206px;
  height: 58px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-1 {
  top: 975px;
  left: 358px;
}

.button-2 {
  top: 975px;
  left: 803px;
}

.hero-image-logo {
  position: absolute;
  z-index: 10;
  width: 160px;
  height: auto;
  object-fit: contain;
}

.logo-1 {
  top: 900px;
  left: 770px;
  width: 260px;
}

.logo-2 {
  top: 879px;
  left: 327px;
  width: 260px;
}

.bg-three-text {
  position: absolute;
  z-index: 10;
  top: 12px;
  left: 60px;
  font-family: "Aller", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  white-space: nowrap;
  line-height: 1.4;
  width: 10px;
  height: 10px;
}

.button-3 {
  top: 185px;
  left: 100px;
  width: 341px;
  height: 65px;
}

.conheca-button {
  position: relative;
  z-index: 10;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Aller", sans-serif;
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  width: 341px;
  height: 65px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 149px;
  left: 60px;
}

.conheca-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.bg-four-text {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 60px;
  font-family: "Aller", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  white-space: nowrap;
}

.saiba-mais-button {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Aller", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
  width: 341px;
  height: 65px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saiba-mais-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-4 {
  top: 130px;
  left: 60px;
}

.bg-five-text {
  position: absolute;
  z-index: 10;
  top: 25px;
  left: 60px;
  font-family: "Aller", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 40px;
  white-space: nowrap;
  line-height: 1.4;
}

.vagas-button {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Aller", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
  width: 341px;
  height: 65px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vagas-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-5 {
  top: 143px;
  left: 60px;
}
