.nossa-cultura-hero-background {
  height: 548px; 
  justify-content: center;
  align-items: center;
}

.nossa-cultura-hero-title {
  font-family: 'Aller', sans-serif;
  font-weight: 400; 
  font-size: 96px; 
  color: #ffffff;
  white-space: nowrap; 

}

.cultura-content-section {  
  padding-top: 91px;     
  padding-bottom: 100px;
}

.cultura-subtitle {
  font-family: 'Aller', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #4D555A;
  margin: 0; 
  text-align: left;
}

.cultura-text {
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5;
  margin: 0; 
}

.cultura-text {
  margin-top: 23px; 
}

.cultura-subtitle {
  margin-top: 40px; 
}


.cultura-text {
  margin-top: 34px; 
}

h2.cultura-subtitle:last-of-type { 
  margin-top: 40px; 
}

.cultura-values-list {
  font-family: 'Aller', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4D555A;
  list-style: disc; 
  margin-top: 43px; 
  padding-left: 20px;
}

.cultura-values-list li {
  margin-bottom: 40px; 
}

.cultura-values-list li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #4D555A; 
  border-radius: 50%; 
  left: 0;
  top: 8px; 
}

/* Tablet (1024px e abaixo) */
@media (max-width: 1024px) {
  .nossa-cultura-hero-title {
    font-size: 72px;
  }
  .cultura-values-list {
    margin-left: 0;
    padding-left: 20px;
  }
}

/* Mobile (768px e abaixo) */
@media (max-width: 768px) {
  .nossa-cultura-hero-background {
    height: auto;
    padding: 100px 20px;
  }

  .nossa-cultura-hero-title {
    font-size: 48px;
    white-space: normal;
    text-align: center;
  }

  .cultura-content-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cultura-subtitle {
    font-size: 24px;
  }

  .cultura-text {
    font-size: 16px;
  }
  
  .cultura-values-list {
    margin-top: 5px;
    font-size: 16px;
    margin-left: 0;
    text-align: center;
    list-style: none; /* Remove default bullets */
  }

  .cultura-values-list li {
    margin-bottom: 20px;
  }

  .cultura-values-list li::before {
    content: none; /* Remove custom bullets */
  }
}

@media (max-width: 480px) {
    .nossa-cultura-hero-title {
        font-size: 36px;
    }
    .cultura-subtitle {
        font-size: 20px;
    }
    .cultura-text, .cultura-values-list {
        font-size: 14px;
    }
}
