.nossa-cultura-hero-background {
  height: 548px; 
  justify-content: center;
  align-items: center;
}

.nossa-cultura-hero-title {
  font-family: 'Aller', sans-serif;
  font-weight: 400; 
  font-size: 96px; 
  color: #ffffff;
  white-space: nowrap; 

}

.cultura-content-section {  
  padding-top: 91px;     
  padding-bottom: 100px;
}

.cultura-subtitle {
  font-family: 'Aller', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #4D555A;
  margin: 0; 
  text-align: left;
}

.cultura-text {
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5;
  margin: 0; 
}

.cultura-text {
  margin-top: 23px; 
}

.cultura-subtitle {
  margin-top: 40px; 
}


.cultura-text {
  margin-top: 34px; 
}

h2.cultura-subtitle:last-of-type { 
  margin-top: 40px; 
}

.cultura-values-list {
  font-family: 'Aller', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4D555A;
  list-style: disc; 
  margin-top: 43px; 
  margin-left: -15px;
}

.cultura-values-list li {
  margin-bottom: 40px; 
}

.cultura-values-list li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #4D555A; 
  border-radius: 50%; 
  left: 0;
  top: 8px; 
}