.nossa-cultura-hero-background {
  width: 1366px;
  height: 548px; 
  position: relative; 
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
    url('../assets/nossacultura-topobkg.png'); 
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;

}


.nossa-cultura-hero-title {
  position: absolute;
  z-index: 10;
  top: 125px; 
  left: 386px; 
  font-family: 'Aller', sans-serif;
  font-weight: 400; 
  font-size: 96px; 
  color: #ffffff;
  white-space: nowrap; 
}

.cultura-content-section {
  width: 1366px; 
  margin: 0 auto;  
  
  padding-top: 91px;     
  padding-left: 299px;   
  padding-right: 343px;  
  
  box-sizing: border-box; 
  
  padding-bottom: 100px;
}

.cultura-subtitle {
  font-family: 'Aller', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #4D555A;
  margin: 0; 
  text-align: left;
}

.cultura-text {
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5;
  margin: 0; 
}

.cultura-text {
  margin-top: 23px; 
}

.cultura-subtitle {
  margin-top: 40px; 
}


.cultura-text {
  margin-top: 34px; 
}

h2.cultura-subtitle:last-of-type { 
  margin-top: 40px; 
}

.cultura-values-list {
  font-family: 'Aller', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4D555A;
  list-style: none; 
  padding-left: 0;
  margin: 0;
  margin-top: 43px; 
}

.cultura-values-list li {
  margin-bottom: 40px; 
  padding-left: 20px; 
  position: relative;
}

.cultura-values-list li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #4D555A; 
  border-radius: 50%; 
  position: absolute;
  left: 0;
  top: 8px; 
}