.section-container {
  width: 100%; 
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
}
.quemsomos-hero-background {
  height: 549px; 
  background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('../assets/topoquemsomos.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-topo-quemsomos {
  font-family: 'Aller', sans-serif;
  font-weight: 400; 
  font-size: 96px;
  color: #ffffff; 
  line-height: 1.2;
  text-align: center;
}

.text-images-quemsomos {
  height: 400px;
  padding-left: 250px;
  padding-right: 250px;
}

.quemsomos-grupoballke{
  font-family: 'Aller', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}

.quemsomos-text{
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}


.quemsomos-images {
  width: 100%;
  padding-left: 250px;
  padding-right: 250px;
}

.quemsomos-section-imgs {
  width: 100%;
  object-fit: cover; 
}

.quemsomos-duas-colunas {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.coluna {
  flex: 1
}

.gray-bar-atuacao {
  width: 100%;
  height: 48px;
  background-color: #D9D9D93B;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin-bottom: 26px;
}

.text-images-1 {
  font-family: 'Aller', sans-serif;
  font-size: 22px; 
  font-weight: 700; 
  color: #4D555A;  
  margin: 0;
  text-decoration: none;

}

.image-gray-bar {
  width: 100%; 
  height: 52px; 
  background-color: #D9D9D93B;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.image-gray-bar h3 {
  font-family: 'Aller', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #4D555A;
  margin: 0; 
}

.parceiros-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 140px; 
  row-gap: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

.parceiros-title {
  font-family: 'Aller', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #4D555A;
  margin: 0;
  white-space: nowrap;
}

.logos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 86px;
  padding-left: 250px;
  padding-right: 250px;
}

.parceiros-logo {
  max-width: 100%;
  height: auto;
  display: block;
}
