*,
*::before,
*::after {
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-bar-gray {
  width: 100%;
  height: 46px;
  background-color: #D9D9D93B;
  display: flex;
  position: relative;
}

.footer-links-group {
  display: flex;
  align-items: center;
  padding-left: 15vw;
  gap: 10vw;
  width: 80%;
}

.footer-link {
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #4D555A;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #bbbbbb;
}

.footer-social-group {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 20%;
  object-fit: contain;
  position: relative;
    padding-left: 58px;

}

.footer-social-icon {
  height: 24px;
}

.footer-bar-white {
  width: 100%;
  height: 46px;
  background-color: #FFFFFF;
  margin: 0 auto;
  position: relative;
}

.footer-logo {
  position: absolute;
  z-index: 10;
  left: 71px;
  top: 10px;
  width: 56px;
  height: 26px;
  object-fit: contain;
}