.App {
  text-align: left; 
}


.app-footer {
  width: 1366px;
  height: 46px;
  background-color: #D9D9D93B;
  margin: 0 auto;
}

.footer-container {
  width: 100%; 
}

.footer-bar-gray {
  width: 1366px;
  height: 46px;
  background-color: #D9D9D93B;
  margin: 0 auto;
}

.footer-bar-white {
  width: 1366px;
  height: 46px; 
  background-color: #FFFFFF; 
  margin: 0 auto;
}


.footer-bar-gray {
  width: 1366px;
  height: 46px;
  background-color: #D9D9D93B;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 0 58px;
  position: relative;
}

.footer-links-group {
  display: flex;
  gap: 30px; 
}

.footer-link {
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #4D555A; 
  text-decoration: none;
  transition: color 0.3s ease;
  position: absolute;
  top: 13px;
  z-index: 10;
  height: 400;
}

.link-contato {
  left: 218px; 
}

.link-servicos {
  left: 525px; 
}

.link-carreira {
  left: 834px;
}

.footer-link:hover {
  color: #bbbbbb; 
}

.footer-social-group {
  display: flex;
  align-items: center;
  gap: 9px; 
  height: 100%;
}

.footer-social-icon {
  height: 24px; 
  width: auto; 
}

.footer-bar-white {
  width: 1366px;
  height: 46px; 
  background-color: #FFFFFF; 
  margin: 0 auto;
  position: relative;
}

.footer-logo {
  position: absolute;
  z-index: 10;
  left: 71px; 
  top: 10px;
  width: 56px;
  height: 26px;
  object-fit: contain; 
}

