.App {
  text-align: left;
}

.section-container {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}


.link-block-wrapper {
  text-decoration: none;
}