.App {
  text-align: left; 
}


.hero-section {/*Primeira imagem da tela inical*/
  
  width: 1366px;
  height: 691px;
  margin: 0 auto; 
  background-image: 
  radial-gradient(ellipse at center, rgba(0,0,0,0) 5%, rgba(0,0,0,0.7) 70%),
  url('./assets/background1.png');
  background-size: 1366px 691px;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  }

  .section-bg-two { /*Segunda imagem da tela inical*/
    width: 1366px; 
    height: 464px; 
    margin: 0 auto; 
    background-image: 
    url('./assets/background2.png'); 
    background-size: 1368px 468px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }

.text-bg2 {
  position: absolute;
  top: 750px;   
  left: 268px;  
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 32px; 
  white-space: nowrap; 
  line-height: 1,4;
  z-index: 10;
}

.hero-button {
  position: absolute; 
  z-index: 10;        
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid #ffffff; 
  color: #ffffff;
  font-family: 'Aller', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none; 
  width: 206px;  
  height: 58px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button:hover {
  background-color: #ffffff; 
  color: #000000;
}

.button-1 {
  top: 975px;
  left: 358px;
}

.button-2 {
  top: 975px;
  left: 803px;
}

.hero-image-logo {
  position: absolute; 
  z-index: 10;        
  width: 160px; 
  height: auto;
  object-fit: contain; 
}

.logo-1 {
  top: 900px; 
  left: 770px; 
  width: 260px
}

.logo-2 {
  top: 879px; 
  left: 327px; 
  width: 260px
}

.section-bg-three { /*terceira imagem*/
  width: 1366px;
  height: 459px;
  margin: 0 auto;
  position: relative;
    background-image:  
    linear-gradient(to left, rgba(0,0,0,0) 5%, rgba(0,0,0,0.7) 90%),
    url('./assets/background3.png'); 
  background-size: 1366px 459px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.bg-three-text {
  position: absolute;
  z-index: 10;
  top: 12px;  
  left: 60px; 
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px; 
  white-space: nowrap; 
  line-height: 1.4;
  width: 10px;
  height: 10px;
}

.button-3 {
  top: 185px;  
  left: 100px; 
  width: 341px;
  height: 65px;
}

.conheca-button {
  position: relative;
  z-index: 10;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Aller', sans-serif; 
  font-weight: normal;
  font-size: 32px; 
  text-decoration: none; 
  width: 341px; 
  height: 65px; 
  padding: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 180px;  
  left: 60px;
}

.conheca-button:hover {
  background-color: #ffffff; 
  color: #000000;
}

.section-bg-four { /*Quarta imagem*/
  width: 1366px;
  height: 459px;
  margin: 0 auto;
  position: relative;
  background-image: 
    linear-gradient(to left, rgba(0,0,0,0) 5%, rgba(0,0,0,0.7) 90%),
    url('./assets/background4.png');
  background-size: 1366px 459px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.bg-four-text {
  position: absolute;
  z-index: 10;
  top: 10px;  
  left: 60px; 
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 40px; 
  font-weight: 400;
  white-space: nowrap; 
  }

  .saiba-mais-button {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  border-radius: 8px; 
  border: 2px solid #ffffff; 
   color: #ffffff;
  font-family: 'Aller', sans-serif; 
  font-weight: 400;
  font-size: 32px; 
  text-decoration: none; 
  width: 341px; 
  height: 65px; 
  padding: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saiba-mais-button:hover {
  background-color: #ffffff; 
  color: #000000;
}

.button-4 {
  top: 197px; 
  left: 60px; 
}

.section-bg-five {
  width: 1367px;
  height: 459px;
  margin: 0 auto;
  position: relative;
  background-image: 
      linear-gradient(to left, rgba(0,0,0,0) 5%, rgba(0,0,0,0.7) 90%),
      url('./assets/background5.png'); 
  background-size: 1367px 459px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 46px;

}


.bg-five-text {
  position: absolute;
  z-index: 10;
  top: 25px;
  left: 60px; 
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 40px; 
  white-space: nowrap; 
  line-height: 1.4;
}

.vagas-button {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #ffffff; 
  color: #ffffff;
  font-family: 'Aller', sans-serif;
  font-weight: 400;
  font-size: 32px; 
  text-decoration: none; 
  width: 341px; 
  height: 65px; 
  padding: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vagas-button:hover {
  background-color: #ffffff; 
  color: #000000;
}

.button-5 {
  top: 143px; 
  left: 60px; 
}

.app-footer {
  width: 1366px;
  height: 46px;
  background-color: #D9D9D93B;
  margin: 0 auto;
}

.footer-container {
  width: 100%; 
}

.footer-bar-gray {
  width: 1366px;
  height: 46px;
  background-color: #D9D9D93B;
  margin: 0 auto;
}

.footer-bar-white {
  width: 1366px;
  height: 46px; 
  background-color: #FFFFFF; 
  margin: 0 auto;
}


.footer-bar-gray {
  width: 1366px;
  height: 46px;
  background-color: #D9D9D93B;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 0 58px;
  position: relative;
}

.footer-links-group {
  display: flex;
  gap: 30px; 
}

.footer-link {
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #4D555A; 
  text-decoration: none;
  transition: color 0.3s ease;
  position: absolute;
  top: 13px;
  z-index: 10;
  height: 400;
}

.link-contato {
  left: 218px; 
}

.link-servicos {
  left: 525px; 
}

.link-carreira {
  left: 834px;
}

.footer-link:hover {
  color: #bbbbbb; 
}

.footer-social-group {
  display: flex;
  align-items: center;
  gap: 9px; 
  height: 100%;
}

.footer-social-icon {
  height: 24px; 
  width: auto; 
}

.footer-bar-white {
  width: 1366px;
  height: 46px; 
  background-color: #FFFFFF; 
  margin: 0 auto;
  position: relative;
}

.footer-logo {
  position: absolute;
  z-index: 10;
  left: 71px; 
  top: 10px;
  width: 56px;
  height: 26px;
  object-fit: contain; 
}

.conheca-hero-background {

  width: 1366px; 
  height: 550px; 
  margin: 0 auto;
  position: relative;
  background-image: 
    linear-gradient(rgba(17, 17, 17, 0.5), rgba(24, 24, 24, 0.5)), 
    url('./assets/conhecatopo.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
}


.conheca-main-background {
  width: 1366px;
  height: 1973px;
  margin: 0 auto;
    position: relative;
  background-image: url('./assets/conhecabkg.png');
  background-size: 1366px 1973px;
  background-position: center center;
  background-repeat: no-repeat;
}

.conheca-text-1{
position: absolute;
  z-index: 10;
  top: 81px;
  left: 173px;
  right: 173px; 
  font-family: 'Aller', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}

.conheca-text-2{
position: absolute;
  z-index: 10;
  top: 222px;
  left: 173px;
  right: 173px; 
  font-family: 'Aller', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}

.conheca-text-3{
position: absolute;
  z-index: 10;
  top: 457px;
  left: 173px;
  right: 173px; 
  font-family: 'Aller', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}

.conheca-lona-image {
  position: absolute;
  z-index: 10;
  top: 615px; 
  left: 0; 
  right: 0;
  margin: 0 auto; 
  width: 1366px;
  height: 922px;
  object-fit: contain; 
}

.topo-text-1 {
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 350px;
  font-family: 'Aller', sans-serif;
  font-weight: 500; 
  font-size: 96px;
  color: #ffffff; 
  line-height: 1.2;
  text-align: center;
}

.quemsomos-hero-background {
  width: 1366px;
  height: 549px; 
  margin: 0 auto;
  position: relative;
  background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('./assets/topoquemsomos.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
}

.text-topo-quemsomos {
  position: absolute;
  z-index: 10;
  top: 137px;
  left: 397px;
  font-family: 'Aller', sans-serif;
  font-weight: 400; 
  font-size: 96px;
  color: #ffffff; 
  line-height: 1.2;
  text-align: center;
}

.text-images-quemsomos {
  height: 400px;
  width: 1366px;
  margin: 0 auto;
  padding: 80px 0; 
  position: relative;
  text-align: center; 
}

.quemsomos-grupoballke{
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 191px;
  right: 963px; 
  font-family: 'Aller', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}

.quemsomos-text-1{
position: absolute;
  z-index: 10;
  top: 96px;
  left: 191px;
  right: 190px; 
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}
.quemsomos-text-2{
position: absolute;
  z-index: 10;
  top: 185px;
  left: 191px;
  right: 190px; 
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}
.quemsomos-text-3{
position: absolute;
  z-index: 10;
  top: 252px;
  left: 191px;
  right: 190px; 
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5; 
}

.quemsomos-images {
  width: 993px;
  height: 395px; 
  margin: 0 auto;
  position: relative;
  background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('./assets/quemsomos1.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
}

.gray-bar-atuacao {
  width: 993px;
  height: 48px;
  background-color: #D9D9D93B;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin-bottom: 26px;
}

.text-images-1 {
  font-family: 'Aller', sans-serif;
  font-size: 22px; 
  font-weight: 700; 
  color: #4D555A;  
  margin: 0;
}

.quemsomos-two-column-section {
  width: 1366px; 
  height: 450px; 
  margin: 0 auto;
  position: relative;
}

.column-left-block {
  position: absolute;
  top: 0;
  left: 189px; 
  width: 466px; 
  z-index: 10;
}

.column-right-block {
  position: absolute;
  top: 0;
  right: 184px; 
  width: 466px; 
  z-index: 10;
}

.column-left-block img,
.column-right-block img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.image-gray-bar {
  width: 100%; 
  height: 52px; 
  background-color: #D9D9D93B;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.image-gray-bar h3 {
  font-family: 'Aller', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #4D555A;
  margin: 0; 
}

.nossa-cultura-hero-background {
  width: 1366px;
  height: 548px; 
  position: relative; 
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
    url('./assets/nossacultura-topobkg.png'); 
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;

}


.nossa-cultura-hero-title {
  position: absolute;
  z-index: 10;
  top: 125px; 
  left: 386px; 
  font-family: 'Aller', sans-serif;
  font-weight: 400; 
  font-size: 96px; 
  color: #ffffff;
  white-space: nowrap; 
}

.cultura-content-section {
  width: 1366px; 
  margin: 0 auto;  
  
  padding-top: 91px;     
  padding-left: 299px;   
  padding-right: 343px;  
  
  box-sizing: border-box; 
  
  padding-bottom: 100px;
}

.cultura-subtitle {
  font-family: 'Aller', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #4D555A;
  margin: 0; 
  text-align: left;
}

.cultura-text {
  font-family: 'Aller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D555A;
  text-align: justify;
  line-height: 1.5;
  margin: 0; 
}

.cultura-text {
  margin-top: 23px; 
}

.cultura-subtitle {
  margin-top: 40px; 
}


.cultura-text {
  margin-top: 34px; 
}

h2.cultura-subtitle:last-of-type { 
  margin-top: 40px; 
}

.cultura-values-list {
  font-family: 'Aller', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #4D555A;
  list-style: none; 
  padding-left: 0;
  margin: 0;
  margin-top: 43px; 
}

.cultura-values-list li {
  margin-bottom: 40px; 
  padding-left: 20px; 
  position: relative;
}

.cultura-values-list li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #4D555A; 
  border-radius: 50%; 
  position: absolute;
  left: 0;
  top: 8px; 
}